.heroVid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background: url('./images/ubur.gif');
  background-position: center;
  background-size: cover;

  .videoPlaceHolder {
    width: 90%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px 0 black;
    border-radius: 10px;

    & > div {
      border-radius: 10px;

      & > div {
        border-radius: 10px;
        & > iframe {
          border-radius: 10px;
        }
      }
    }
  }
}

.twitterFeed {
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .heroVid {
    .videoPlaceHolder {
      width: 600px;
      height: 400px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .heroVid {
    .videoPlaceHolder {
      width: 800px;
      height: 500px;
    }
  }
}
