@keyframes slideOpen {
  from {
    height: 0;
  }
  to {
    height: 200px;
  }
}
@keyframes slideClosed {
  from {
    height: 200px;
  }
  to {
    height: 0;
  }
}

header {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  width: 30%;
  height: 100%;
  display: inherit;
  align-items: center;
  justify-content: flex-start;

  #uburLogo {
    max-height: 80%;
  }

  #uburText {
    max-height: 80px;
  }
}

.navLinks {
  margin-right: 20px;
  width: 40%;
  display: inherit;
  justify-content: space-evenly;
  a {
    color: white;
    font-size: 20px;
  }

  a:hover {
    transform: scale(1.2);
    transition: transform 0.25s;
    color: cyan;
  }
}

#menuIcon {
  height: 60%;
  padding-right: 20px;
}

.navLinksMenu {
  display: flex;
  flex-direction: column;
  // z-index: -1;
  width: 100%;
  background-color: grey;
  top: 100px;
  align-items: center;
  position: absolute;
  overflow: hidden;

  a {
    font-size: 24px;
    color: white;
    padding: 10px;
  }
}

.menuOpen {
  height: 200px;
  animation: slideOpen 0.5s;
}

.menuClosed {
  height: 0;
  animation: slideClosed 0.5s;
}

@media screen and (min-width: 350px){
  .logos{
      padding-left: 20px;

    #uburText {
      margin-left: 10px;

    }
  }
}
