.mainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
  background: url('./images/ubur2.gif');
  background-position: center;
  background-size: cover;

  .shows {
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 black;

    a {
      color: black;
      font-size: 16px;
      padding: 0 2px;
    }

    .showsItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;

      button {
        background-color: cyan;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
