.mainFooter {
  min-height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    height: 50px;
    margin: 5px 0;
  }

  ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    i {
      color: white;
      margin-right: 5px;
    }
  }
}
